/ {
    servos {
        servo0: nrf-servo0 {
            compatible = "nordic,nrf-sw-servo";
            label = "SERVO_0";
            pin = <31>;
            init_value = <0>;
            min_pulse_us = <500>;
            max_pulse_us = <2500>;
            status = "okay";
        };
		servo1: nrf-servo1 {
            compatible = "nordic,nrf-sw-servo";
            label = "SERVO_1";
            pin = <30>;
            init_value = <0>;
            min_pulse_us = <750>;
            max_pulse_us = <2250>;
            status = "okay";
        };
        servo2: nrf-servo2 {
            compatible = "nordic,nrf-sw-servo";
            label = "SERVO_2";
            pin = <29>;
            init_value = <50>;
            min_pulse_us = <1000>;
            max_pulse_us = <2000>;
            status = "okay";
        };
        servo3: nrf-servo3 {
            compatible = "nordic,nrf-sw-servo";
            label = "SERVO_3";
            pin = <28>;
            init_value = <100>;
            min_pulse_us = <500>;
            max_pulse_us = <2500>;
            status = "okay";
        };
        servo4: nrf-servo4 {
            compatible = "nordic,nrf-sw-servo";
            label = "SERVO_4";
            pin = <27>;
            init_value = <100>;
            min_pulse_us = <500>;
            max_pulse_us = <2500>;
            status = "okay";
        };
    };
};
