/ {
    servo0: nrf-servo0 {
        compatible = "nrf-sw-servo";
        pin = <27>;
        init_value = <50>;
        min_pulse_us = <1000>;
        max_pulse_us = <2000>;
        status = "okay";
    };
};
